In [71]:
# https://drive.google.com/file/d/11fjFxxa2RfoLCJUQ_OSTm3GfMZHVy8Gy/view?usp=sharing
!gdown --id 11fjFxxa2RfoLCJUQ_OSTm3GfMZHVy8Gy

/bin/bash: line 1: gdown: command not found

## IMPORT LIBRARY AND LOAD DATASET

In [72]:
import pandas as pd
import numpy as np

DATASET_PATH = './Pokemon.csv'
data = pd.read_csv(DATASET_PATH)

In [73]:
data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

## READING DATA

In [74]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [75]:
data.tail(8)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

## RETRIEVE COLUMN

In [76]:
print(data.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [77]:
print(data[['Name']].head())
print('\n')
print(data[['Name', 'Total', 'Attack']][:10:2])

                    Name
0              Bulbasaur
1                Ivysaur
2               Venusaur
3  VenusaurMega Venusaur
4             Charmander


                        Name  Total  Attack
0                  Bulbasaur    318      49
2                   Venusaur    525      82
4                 Charmander    309      52
6                  Charizard    534      84
8  CharizardMega Charizard Y    634     104

## RETRIEVE ROW

In [78]:
data.iloc[[3]]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False

In [79]:
data.iloc[[3,6]]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False

In [80]:
data.iloc[3:5]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [81]:
data.loc[data['Legendary'] == True].head(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True

In [82]:
data.loc[data['Attack'] == 49, ['Name']]

          Name
0    Bulbasaur
166  Chikorita
506    Finneon

## STATISTIC INFORMATION

In [83]:
data.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

## SORTING DATA

In [84]:
data.sort_values('Type 1').head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
600,540,Sewaddle,Bug,Grass,310,45,53,70,40,60,42,5,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
457,412,Burmy,Bug,NaN,224,40,29,45,29,45,36,4,False

In [85]:
data.sort_values('Type 1', ascending=False).head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
371,339,Barboach,Water,Ground,288,50,48,43,46,41,60,3,False
97,90,Shellder,Water,NaN,305,30,65,100,45,25,40,1,False
240,222,Corsola,Water,Rock,380,55,55,85,65,85,35,2,False

In [86]:
data.sort_values(['Type 1', 'HP'], ascending=[1, 0]).head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,515,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,550,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False

## CHANGE INFORMATION

In [87]:
data.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [88]:
data = data.drop(columns=['Total'])
data.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [89]:
data['Total'] = data['Attack'] + data['Defense'] + data['HP']
data.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,143
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,185
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,245

## ORDER OF COLUMN

In [90]:
data[['Name', 'Total', 'Attack', 'Speed']].head()

                    Name  Total  Attack  Speed
0              Bulbasaur    143      49     45
1                Ivysaur    185      62     60
2               Venusaur    245      82     80
3  VenusaurMega Venusaur    303     100     80
4             Charmander    134      52     65

In [91]:
cols = list(data.columns.values)
print(cols)

['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total']

In [92]:
data[cols[0:4] + [cols[-1]] + cols[4:-1]].head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,143,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,185,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,245,80,82,83,100,100,80,1,False

## FILTERING

In [93]:
data.loc[(data['Type 1'] == 'Grass') & (data['Type 2'] == 'Poison')].head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,143
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,185
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,245

In [94]:
data.loc[(data['Type 1'] == 'Grass') | (data['Type 2'] == 'Poison')][0::10].loc[data['HP'] > 50].head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,240
101,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False,185
197,182,Bellossom,Grass,NaN,75,80,95,90,100,50,2,False,250

### USING REGEX

In [95]:
import re

In [96]:
data.loc[data['Name'].str.contains('Mega')].head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,303
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,319
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,260

In [97]:
data.loc[data['Type 1'].str.contains('Fire|grass', regex=True)].head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,134
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,180
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,240

In [98]:
data.loc[data['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)].head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,143
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,185
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,245

In [99]:
data.loc[data['Name'].str.contains('pi[a-z]*', flags=re.I, regex=True)].head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,110
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,125
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,178

In [100]:
data.loc[data['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)].head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,125
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,178
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,238

## RESET INDEX

In [101]:
new_data = data.loc[(data['Type 1'] == 'Grass') | (data['Type 2'] == 'Poison')][0::10].loc[data['HP'] > 50].head(3)
new_data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,240
101,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False,185
197,182,Bellossom,Grass,NaN,75,80,95,90,100,50,2,False,250

In [102]:
new_data = new_data.reset_index()
new_data

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,240
1,101,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False,185
2,197,182,Bellossom,Grass,NaN,75,80,95,90,100,50,2,False,250

In [103]:
new_data = new_data.reset_index(drop=True)
new_data

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,240
1,101,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False,185
2,197,182,Bellossom,Grass,NaN,75,80,95,90,100,50,2,False,250

In [104]:
new_data.reset_index(drop=True, inplace = True)
new_data

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,240
1,101,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False,185
2,197,182,Bellossom,Grass,NaN,75,80,95,90,100,50,2,False,250

## GROUPBY

In [106]:
data.groupby(['Type 1']).mean(numeric_only=True).sort_values('Defense', ascending=False).head(10)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,284.296296
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,259.022727
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,281.812500
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,254.375000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,219.406250
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,219.160714
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,216.166667
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,211.285714
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,198.579710
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,225.419355

In [107]:
data.groupby(['Type 1', 'Type 2']).count()

                  #  Name  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
Type 1 Type 2
Bug    Electric   2     2   2       2        2        2        2      2
       Fighting   2     2   2       2        2        2        2      2
       Fire       2     2   2       2        2        2        2      2
       Flying    14    14  14      14       14       14       14     14
       Ghost      1     1   1       1        1        1        1      1
...              ..   ...  ..     ...      ...      ...      ...    ...
Water  Ice        3     3   3       3        3        3        3      3
       Poison     3     3   3       3        3        3        3      3
       Psychic    5     5   5       5        5        5        5      5
       Rock       4     4   4       4        4        4        4      4
       Steel      1     1   1       1        1        1        1      1

                 Generation  Legendary  Total
Type 1 Type 2
Bug    Electric           2          2      2
       Fighting           2          2      2
       Fire               2          2      2
       Flying            14         14     14
       Ghost              1          1      1
...                     ...        ...    ...
Water  Ice                3          3      3
       Poison             3          3      3
       Psychic            5          5      5
       Rock               4          4      4
       Steel              1          1      1

[136 rows x 11 columns]

In [109]:
df = data.groupby(['Type 1'])[['Attack', 'Defense']].apply(lambda x: np.sum(x)/len(x))
df.head(3)

/home/heigatvu/miniconda3/envs/aio2024/lib/python3.10/site-packages/numpy/_core/fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

            Attack    Defense
Type 1
Bug      70.971014  70.724638
Dark     88.387097  70.225806
Dragon  112.125000  86.375000

In [110]:
df = data.groupby(['Type 1']).agg({'Attack': 'mean',
                                   'Defense': 'sum',
                                   'Speed': lambda x: len(x)})
df.head(3)

            Attack  Defense  Speed
Type 1
Bug      70.971014     4880     69
Dark     88.387097     2177     31
Dragon  112.125000     2764     32

## SAVE

In [ ]:
data.to_csv('modified.csv')

In [ ]:
data.to_excel('modified.xlsx', index = False)

In [ ]:
data.to_csv('modified_tab.csv', sep='\t')